<!-- _layouts/markdown.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 1. Official GitHub Markdown CSS -->
    <link rel="stylesheet" href="{{ '/assets/github-markdown.css' | relative_url }}">
    <!-- 2. Site wide styles -->
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  </head>
  <body>
    <!-- 2. Wrap in markdown-body for GitHub styling -->
    <article class="markdown-body">
      {{ content }}
    </article>
  </body>
  
  <script src="{{ '/assets/copy-code-blocks.js' | relative_url }}"></script>
  <script src="{{ '/assets/admonitions.js' | relative_url }}"></script>
</html>
